ENV_MODE=development
SERVICE_NAME=go-echo-api
HOST=0.0.0.0
PORT=8000
BASE_PATH=api
TZ=Asia/Bangkok
DB_URI=mysql://demo:1234@localhost:3306/games_store
DB_PASS=1234
ENCRYPTION_KEY="your-key"
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN RSA PUBLIC KEY-----\n\n-----END RSA PUBLIC KEY-----"
UPLOAD_LIMIT_SIZE=10
IMAGE_COMPRESS_LEVEL=70
REDIS_URI=redis://localhost:6379

MQTT_HOST=localhost
MQTT_PORT=8084
MQTT_PROTOCOL=wss
MQTT_USER=demo
MQTT_PASSWORD=1234
MQTT_PATH=mqtt
MQTT_TOPIC=dev

LIMIT_MAX_BALANCE=false
LOG_LEVEL=info